# BT04: Tiền xử lý và chống overfitting

Họ tên: Ngô Văn Hùng

MSSV: 1412214

---
## Cách làm bài và nộp bài
&#9889; Bạn lưu ý là mình sẽ dùng chương trình hỗ trợ chấm bài tự động nên bạn cần phải tuân thủ chính xác qui định mà mình đặt ra, nếu không rõ thì hỏi, chứ không nên tự tiện làm theo ý của cá nhân (ví dụ, bạn không được tự tiện xóa cell, ...).

**Cách làm bài**

Bạn sẽ làm trực tiếp trên file notebook này. Đầu tiên, bạn điền họ tên và MSSV vào phần đầu file ở bên trên. Trong file, bạn làm bài ở những chỗ có ghi là:
```python
# YOUR CODE HERE
raise NotImplementedError()```
hoặc (đối với markdown cell):
```markdown
YOUR ANSWER HERE
```
Tất nhiên, khi làm thì bạn xóa dòng `raise NotImplementedError()` đi.
Đối những phần yêu cầu code thì thường ở ngay phía dưới sẽ có một cell chứa các bộ test để giúp bạn biết đã code đúng hay chưa; nếu chạy cell này không có lỗi gì thì có nghĩa là qua được các bộ test. Trong một số trường hợp, các bộ test có thể sẽ không đầy đủ; nghĩa là, nếu không qua được test thì là code sai, nhưng nếu qua được test thì chưa chắc đã đúng :-).

Trong khi làm bài, thường xuyên `Ctrl + S` để lưu lại bài làm của bạn, tránh mất mát thông tin.

*Nên nhớ mục tiêu chính ở đây là <font color=green>học, học một cách chân thật</font>. Bạn có thể thảo luận ý tưởng với bạn khác, nhưng <font color=green>code và bài làm phải là của bạn, dựa trên sự hiểu thật sự của bạn</font>. <font color=red>Nếu vi phạm thì sẽ bị 0 điểm cho toàn bộ môn học.</font>*

**Cách nộp bài**

Khi chấm bài, đầu tiên mình sẽ chọn `Kernel` - `Restart & Run All` để restart và chạy tất cả các cell trong notebook của bạn; do đó, trước khi nộp bài, bạn nên chạy thử `Kernel` - `Restart & Run All` để đảm bảo mọi chuyện diễn ra đúng như mong đợi.

Sau đó, trong thư mục `MSSV` (vd, nếu bạn có MSSV là 1234567 thì bạn đặt tên thư mục là `1234567`) bạn đặt các file: `BT04-TienXuLy_ChongOverfit.ipynb`, `train.csv`, `test.csv`; rồi nén thư mục `MSSV` này lại và nộp ở link trên moodle.

---
## Tổng thể về nội dung bài tập

Trong bài này, bạn sẽ thực hành: (i) tiền xử lý dữ liệu, và (ii) huấn luyện Neural Net với L2 regularization (weight decay) và early stopping. Bộ dữ liệu được sử dụng là bộ [Kaggle Titanic](https://www.kaggle.com/c/titanic); trong đó, input là thông tin của hành khách trên tàu Titanic, output là một trong hai lớp sống/chết (1/0). Mình có đính kèm các file dữ liệu mà Kaggle cung cấp: `train.csv` - tập huấn luyện, `test.csv` - tập kiểm tra (chỉ có input). Bạn xem ý nghĩa của các cột trong file `description.txt` đính kèm.

---
## Import 
<font color=red>Lưu ý: bài tập này sẽ cần Sklearn phiên bản > 0.19</font>. Bạn xem phiên bản của Sklearn bằng câu lệnh ở dưới; nếu không thỏa thì bạn cần cập nhật Anaconda bằng cách: 
- Mở PowerShell (mình giả sử bạn dùng Windows)
- Gõ 2 câu lệnh sau:
    - `conda update conda`
    - `conda update anaconda`

In [4]:
import sklearn
sklearn.__version__

'0.20.2'

In [7]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer #version 0.2 trở lên
from sklearn.base import BaseEstimator, TransformerMixin, clone
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.neural_network import MLPClassifier

from copy import deepcopy
# You can also import other things ...

---
## Đọc tập huấn luyện vào data frame và tách ra tập validation

In [81]:
data_df = pd.read_csv('train.csv', index_col=0)
print(data_df.columns)
print(data_df.shape)
data_df.head(3)

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')
(891, 11)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [82]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [83]:
data_df.describe(include="all")

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,"Andersson, Miss. Sigrid Elisabeth",male,NaN,NaN,NaN,CA. 2343,NaN,C23 C25 C27,S
freq,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [84]:
# Tách X và y
y_sr = data_df["Survived"]
X_df = data_df.drop("Survived", axis=1)

In [85]:
# Tách tập train và tập validation theo tỉ lệ 70%:30%
train_X_df, val_X_df, train_y_sr, val_y_sr = train_test_split(X_df, y_sr, test_size=0.3, stratify=y_sr, random_state=0)
train_y = train_y_sr.values
val_y = val_y_sr.values

train_X_df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
232,3,"Larsson, Mr. Bengt Edvin",male,29.0,0,0,347067,7.7750,NaN,S
837,3,"Pasic, Mr. Jakob",male,21.0,0,0,315097,8.6625,NaN,S
640,3,"Thorneycroft, Mr. Percival",male,NaN,1,0,376564,16.1000,NaN,S
390,2,"Lehmann, Miss. Bertha",female,17.0,0,0,SC 1748,12.0000,NaN,C
598,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0000,NaN,S

&#9889; Mình đã cố định `random_state` trong `train_test_split` để đảm bảo kết quả của mình ra giống với của bạn. Tuy nhiên, mình không biết là với các hệ điều hành khác nhau thì điều này có được đảm bảo không. Kết quả của câu lệnh `train_X_df.head().index` của mình ra 5 giá trị là: `[232, 837, 640, 390, 598]`. Nếu của bạn ra khác thì bạn báo lại trên moodle, vì nếu ra khác thì các kết quả lúc sau của bạn cũng sẽ khác với của mình.

In [86]:
print(train_X_df.shape)
train_X_df.info()

(623, 10)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 623 entries, 232 to 81
Data columns (total 10 columns):
Pclass      623 non-null int64
Name        623 non-null object
Sex         623 non-null object
Age         496 non-null float64
SibSp       623 non-null int64
Parch       623 non-null int64
Ticket      623 non-null object
Fare        623 non-null float64
Cabin       143 non-null object
Embarked    621 non-null object
dtypes: float64(2), int64(3), object(5)
memory usage: 53.5+ KB

In [36]:
print(val_X_df.shape)
val_X_df.info()

(268, 10)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 268 entries, 422 to 608
Data columns (total 10 columns):
Pclass      268 non-null int64
Name        268 non-null object
Sex         268 non-null object
Age         218 non-null float64
SibSp       268 non-null int64
Parch       268 non-null int64
Ticket      268 non-null object
Fare        268 non-null float64
Cabin       61 non-null object
Embarked    268 non-null object
dtypes: float64(2), int64(3), object(5)
memory usage: 23.0+ KB

---
## Tiền xử lý tập huấn luyện (3.5đ)

Đầu tiên, với cột `Name`, ta sẽ tiến hành rút trích ra cột `Title` tương ứng, gồm các giá trị như `Miss`, `Mrs`, `Mr`, `Master` ..., vì trong tên thì phần này có vẻ là sẽ có ích cho việc dự đoán sống/chết. Bạn hãy đếm số lần xuất hiện của mỗi giá trị trong cột `Title` và lưu kết quả vào biến `title_counts` (là Series với index là các giá trị có thể có của `Title`); bạn lưu ý: không làm thay đổi `train_X_df`.

In [349]:
# YOUR CODE HERE
train_X_df_template = train_X_df.copy()
train_X_df_template["Title"] = train_X_df_template.loc[:, "Name"].apply(lambda x : 'NaN'.join(re.findall('([a-zA-z]+)\.',x)))
# train_X_df_template["Title"] = train_X_df_template.loc[:, "Name"].str.extract("([a-zA-z]+)\.", expand=False)
title_counts = train_X_df_template["Title"].value_counts()
print("Description category of people\n", title_counts)
# title_counts: is Series

Description category of people
 Mr          357
Miss        125
Mrs          89
Master       32
Dr            7
Rev           5
Countess      1
Ms            1
Jonkheer      1
Capt          1
Mme           1
Col           1
Mlle          1
Don           1
Name: Title, dtype: int64

In [350]:
# Test
assert len(title_counts) == 14
assert title_counts.loc["Mr"] == 357
assert title_counts.loc["Miss"] == 125
assert title_counts.loc["Mrs"] == 89
assert title_counts.loc["Master"] == 32

Class `ColDropper` mà mình đã viết sẵn cho bạn dưới đây (theo dạng Transfomer của Sklearn) sẽ thực hiện các công việc:
- Thêm cột `Title` vào DataFrame, trong đó ta sẽ chuyển các giá trị xuất hiện ít (không thuộc tập `["Mr", "Miss", "Mrs", "Master"]`) thành giá trị `Rare`.
- Bỏ cột `Name`.
- Bỏ cột `Cabin` vì cột này có nhiều giá thiếu, và có vẻ cột này sẽ không giúp ích được gì nhiều cho việc dự đoán sống/chết.
- Bỏ cột `Ticket` vì cột này có giá trị không phải dạng số, sẽ cần phải tốn sức để chuyển sang dạng số, và có vẻ cột này cũng sẽ không giúp ích được gì nhiều cho việc dự đoán sống/chết.

In [343]:
class ColDropper(BaseEstimator, TransformerMixin):
    def __init__(self, add_title_col=True):
        self.add_title_col = add_title_col
    def fit(self, X_df, y=None):
        return self
    def transform(self, X_df, y=None):
        X_df = X_df.copy()
        if self.add_title_col:
            title_col = X_df.Name.str.extract("([a-zA-z]+)\.", expand=False)
            non_rare_titles = ["Mr", "Miss", "Mrs", "Master"]
            title_col[~title_col.isin(non_rare_titles)] = "Rare"
            X_df["Title"] = title_col
        dropped_cols = ['Name', 'Ticket', 'Cabin']
        X_df.drop(dropped_cols, axis=1, inplace=True)
        return X_df
# Test ColDropper
col_dropper = ColDropper()
fewer_cols_train_X_df = col_dropper.fit_transform(train_X_df)
fewer_cols_train_X_df.sample(5)

             Pclass     Sex   Age  SibSp  Parch     Fare Embarked   Title
PassengerId
635               3  female   9.0      3      2  27.9000        S    Miss
49                3    male   NaN      2      0  21.6792        C      Mr
460               3    male   NaN      0      0   7.7500        Q      Mr
111               1    male  47.0      0      0  52.0000        S      Mr
126               3    male  12.0      1      0  11.2417        C  Master

Đến đây, các cột dạng số gồm:`Pclass`, `Age`, `SibSp`, `Parch`, `Fare`; các cột dạng chuỗi có giá trị rời rạc không thứ tự (categorical) gồm: `Sex`, `Embarked`, `Title`. Các bước tiền xử lý tiếp theo như sau:
- Với các cột dạng số, ta sẽ điền giá trị thiếu bằng giá trị mean của cột <font color=blue>(gợi ý: dùng `SimpleImputer` trong Sklearn)</font>. Với *tất cả* các cột dạng số trong tập huấn luyện, ta đều cần tính mean; vì ta không biết được cột nào sẽ bị thiếu giá trị khi test. 
- Với các cột dạng chuỗi có giá trị rời rạc không thứ tự:
    - Ta sẽ điền giá trị thiếu bằng giá trị mode (giá trị xuất hiện nhiều nhất) của cột <font color=blue>(gợi ý: dùng `SimpleImputer` trong Sklearn)</font>. Với *tất cả* các cột dạng chuỗi có giá trị rời rạc không thứ tự trong tập huấn luyện, ta đều cần tính mode; vì ta không biết được cột nào sẽ bị thiếu giá trị khi test.
    - Sau đó, ta sẽ chuyển sang dạng số bằng phương pháp mã hóa one-hot <font color=blue>(gợi ý: dùng `OneHotEncoder` trong Sklearn)</font>.
- Cuối cùng, khi tất cả các cột đã được điền giá trị thiếu và đã có dạng số, ta sẽ tiến hành chuẩn hóa bằng cách trừ đi mean và chia cho độ lệch chuẩn của cột để giúp cho các thuật toán cực tiểu hóa như Gradient Descent, LBFGS, ... hội tụ nhanh hơn <font color=blue>(gợi ý: dùng `StandardScaler` trong Sklearn)</font>.

Nhiệm vụ của bạn là tạo ra một pipeline, đặt tên là `full_preprocess_pipeline`, bao gồm: bước thêm cột `Title` và bỏ các cột (đã nói ở lúc trước, đã cài cho bạn ở class `ColDropper`), và tất cả các bước ở đây. Sau khi tạo ra được pipeline này rồi, bạn sẽ gọi phương thức `fit_transform` với đầu vào là `train_X_df` để tính các tham số (ví dụ, mean và mode ở bước xử lý giá trị thiếu, mean và độ lệch chuẩn ở bước chuẩn hóa, ...) và đồng thời tiền xử lý `train_X_df`; kết quả trả về sẽ là `train_X_df` sau khi đã tiền xử lý, là một mảng Numpy, bạn đặt tên là `preprocessed_train_X`. <font color=blue>(Gợi ý: dùng `Pipeline` hoặc `make_pipeline`trong Sklearn, bạn có thể xem sự khác biệt của 2 cái này [ở đây](https://stackoverflow.com/questions/40708077/what-is-the-difference-between-pipeline-and-make-pipeline-in-scikit); ngoài ra, có thể dùng `ColumnTransformer` hoặc `make_column_transformer` để tạo ra một pipeline mà gồm vài pipeline thành phần, các pipeline thành phần làm trên các tập cột khác nhau trong DataFrame.)</font>

In [344]:
num_cols = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
cat_cols = ['Sex', 'Embarked', 'Title']
# YOUR CODE HERE
num_cols_pipeline = Pipeline([
     ('simple_imputer_mean', SimpleImputer(strategy='mean'))
])


cat_cols_pipeline = Pipeline([
     ('simple_imputer_most', SimpleImputer(strategy='most_frequent')),
     ('onehostEncoding', OneHotEncoder(handle_unknown='ignore'))
])

scaler_pipeline = Pipeline([
    ('scaler', StandardScaler())
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num_cols', num_cols_pipeline, num_cols),
        ('cat_cols', cat_cols_pipeline, cat_cols)
    ])

full_preprocess_pipeline = Pipeline(steps=[
                              ('preprocessor', preprocessor),
                              ('scaler_final', StandardScaler())
                           ])
preprocessed_train_X = full_preprocess_pipeline.fit_transform(fewer_cols_train_X_df)

In [345]:
# Test
assert preprocessed_train_X.shape == (623, 15)
row0 = {-0.736, -0.501, -0.481, -0.48, -0.479, -0.478, -0.408, -0.295, -0.233, -0.182, -0.041, 0.603, 0.736, 0.844, 0.863}
row1 = {-0.736, -0.664, -0.501, -0.481, -0.48, -0.478, -0.463, -0.408, -0.295, -0.233, -0.182, 0.603, 0.736, 0.844, 0.863}
assert set(np.round(preprocessed_train_X[0], decimals=3)) == row0
assert set(np.round(preprocessed_train_X[1], decimals=3)) == row1

## Tiền xử lý tập validation (1.5đ)

Một khi đã có `full_preprocess_pipeline` với các tham số đã được tính từ tập huấn luyện, ta có thể dễ dàng dùng phương thức `transform` để tiền xử lý cho các input mới trong tập validation và tập test. Dưới đây, bạn sẽ làm như vậy để tiền xử lý cho `val_X_df` và lưu kết quả vào `preprocessed_val_X`.

In [346]:
# YOUR CODE HERE
col_dropper_val = ColDropper()
fewer_cols_val_X_df = col_dropper_val.transform(val_X_df)
preprocessed_val_X = full_preprocess_pipeline.transform(fewer_cols_val_X_df)

np.round(preprocessed_val_X[0], 3)

array([ 0.844, -0.664, -0.481, -0.48 , -0.48 , -0.736,  0.736, -0.478,
        3.385, -1.659, -0.233, -0.501,  0.863, -0.408, -0.182])

In [347]:
# Test
assert preprocessed_val_X.shape == (268, 15)
row0 = {-1.659, -0.736, -0.664, -0.501, -0.481, -0.48, -0.478, -0.408, -0.233, -0.182, 0.736, 0.844, 0.863, 3.385}
row1 = {-1.988, -1.358, -1.158, -0.478, -0.408, -0.346, -0.295, -0.233, -0.182, 0.098, 0.603, 0.831, 1.358, 1.38, 1.996}
assert set(np.round(preprocessed_val_X[0], 3)) == row0
assert set(np.round(preprocessed_val_X[1], 3)) == row1

Giải thích tại sao không nên làm 2 cách sau:
- Tiền xử lý tập validation bằng các tham số của tập validation
- Hoặc tiền xử lý tất cả dữ liệu rồi mới tách tập validation

YOUR ANSWER HERE 

- sử dụng bộ Validation thì mô hình có thể đã mất một phần dữ liệu của mình cho đào tạo mô hình. Trong trường hợp này, một nửa số liệu không đóng góp cho việc đào tạo mô hình! Điều này không tối ưu và có thể gây ra sự cố, đặc biệt nếu bộ dữ liệu đào tạo ban đầu nhỏ.(Cross-validation) 
- việc xử lý dữ liệu trước khi tách sẽ làm rò rỉ dữ liệu (leak information). Vì bạn có thể gặp trường hợp dữ liệu bên  tập test để tính toán (fit - training) chính điều nãy cũng gây nên sự không chính xác trong dự đoán dữ liệu thực tế (có thể dẫn tới overfitting)

---
## Huấn luyện Neural Network với L2 regularization (2đ)
Để thấy được ảnh hưởng của L2 regularization (weight decay) tới quá trình học, bạn sẽ huấn luyện 5 mô hình Neural Net với 5 giá trị `alpha` khác nhau: 0.1, 1, 10, 100, 1000; các siêu tham số khác cố định như sau: `hidden_layer_sizes=(50), activation="tanh", solver="lbfgs", random_state=0`. Mỗi mỗi mô hình, bạn in ra độ lỗi trên tập huấn luyện và trên tập validation. Cuối cùng, bạn chọn mô hình tốt nhất là mô hình có độ lỗi trên tập validation nhỏ nhất; bạn lưu mô hình này vào biến `best_l2_nnet` và lưu độ lỗi tương ứng trên tập validation vào biến `best_l2_val_err`.

In [405]:
best_l2_nnet = None
best_l2_val_err = float("inf")
for alpha in [0.1, 1, 10 ,100, 1000]:
    # YOUR CODE HERE
    best_l2_nnet = MLPClassifier(hidden_layer_sizes=(50), activation="tanh", 
                                 alpha=alpha, solver='lbfgs', 
                                 random_state=0)
    best_l2_nnet.fit(preprocessed_train_X, train_y_sr)
    train_score = best_l2_nnet.score(preprocessed_train_X, train_y_sr)
    validation_score = best_l2_nnet.score(preprocessed_val_X, val_y_sr) 
    if (1 - validation_score) < best_l2_val_err:
        best_l2_val_err = 1 - validation_score
    print("alpha = {:6.1f}, train_err = {:6.2f}%, val_err = {:6.2f}%".format(alpha, (1 - train_score) * 100, (1 - validation_score) * 100))
    
print("\nbest_l2_val_err = {:6.2f}%".format(best_l2_val_err * 100))

# Kết quả của mình:
# alpha =    0.1, train_err =   6.42%, val_err =  20.90%
# alpha =    1.0, train_err =  11.56%, val_err =  17.91%
# alpha =   10.0, train_err =  17.50%, val_err =  16.79%
# alpha =  100.0, train_err =  19.10%, val_err =  19.40%
# alpha = 1000.0, train_err =  38.36%, val_err =  38.43% 
# best_l2_val_err =  16.79%

alpha =    0.1, train_err =   6.74%, val_err =  20.90%
alpha =    1.0, train_err =  11.56%, val_err =  17.91%
alpha =   10.0, train_err =  17.50%, val_err =  16.79%
alpha =  100.0, train_err =  19.10%, val_err =  19.40%
alpha = 1000.0, train_err =  38.36%, val_err =  38.43%

best_l2_val_err =  16.79%

Hãy nhận xét và giải thích kết quả.

YOUR ANSWER HERE

- Nhận xét ta thấy rằng với alpha = 10.0 thì có vẻ như đạt cực tiểu local (local minize)
ta thấy rằng các alpha đều đi qua điểm local minize thì alpha bằng 10 có vẻ như là khoảng tốt nhất vì error thấp. Nhưng như vậy là chưa đủ chỉ là chúng ta tìm thấy local minize trong các khoảng cho trước. Khẳng định chắc chắn khi ta thấy alpha = 1.0 ---> 10.0 thì có error chệnh lệch nhau không nhiều vậy từ đây ta suy ra là 1.0 --> 100.0 mang đò thị lõm ở đó. Em nghĩ chúng ta nên chọn learning rate trong khoảng này là ổn nhất

---
## Huấn luyện Neural Network với early stopping (2đ)

Để thí nghiệm early stopping, ta sẽ huấn luyện Neural Net với 200 vòng lặp và chọn ra mô hình có độ lỗi nhỏ nhất trên tập validation; các siêu tham số khác cố định như sau: `alpha=0, hidden_layer_sizes=(50), activation="tanh", solver="lbfgs", random_state=0`. Bạn sẽ lưu mô hình tốt nhất vào biến `best_es_nnet` và độ lỗi tương ứng trên tập validation vào biến `best_es_val_err`. Bạn cũng cần lưu độ lỗi trên tập huấn luyện sau mỗi epoch vào biến `train_errs` (là một list, `len(train_errs)=200`); làm tương tự cho độ lỗi trên tập validation với biến `val_errs`.

Trong Sklearn, để có thể can thiệp vào sau mỗi vòng lặp trong quá trình huấn luyện, bạn có thể tạo `MLPClassifier` với siêu tham số `max_iter=1` và `warm_start=True`. Sau đó, bạn có thể tự viết một vòng lặp, ở mỗi vòng lặp thì gọi phương thức `fit`; `warm_start=True` sẽ lấy các giá trị tham số ở trước đó làm điểm bắt đầu của phương thức `fit`, chứ không khởi tạo lại từ đầu nữa. Mình có thử so sánh cho `max_iter=200` và lặp 1 lần với cho `max_iter=1` và lặp 200 lần thì thấy cách đầu cho độ lỗi trên tập huấn luyện thấp hơn; nguyên nhân có thể là do thuật toán LBFGS bình thường có sử dụng các thông tin ở các bước đi trước để giúp ra quyết định tốt hơn về bước đi ở thời điểm hiện tại, nhưng mỗi khi gọi phương thức `fit` thì thuật toán LBFGS bị reset lại, các thông tin về các bước đi trước không còn nữa. Tuy nhiên, tạm thời ở đây sẽ bỏ qua vấn đề này.

Ngoài ra, trong quá trình huấn luyện, để lưu lại mô hình với các giá trị tham số hiện tại, bạn có thể dùng hàm `deepcopy` mà mình đã import cho bạn.

In [ ]:
nnet = MLPClassifier(hidden_layer_sizes=(50), activation="tanh",
                     solver="lbfgs", alpha=0, random_state=0, 
                     max_iter=1, warm_start=True)
max_iter = 200
best_es_nnet = None
best_es_val_err = float("inf")
val_errs = []
train_errs = []

for iteration in range(max_iter):
    # YOUR CODE HERE
    raise NotImplementedError()
print("best_es_val_err = {:5.2f}%".format(best_es_val_err))
# Kết quả của mình:
# best_es_val_err = 15.67%

In [ ]:
# Trực quan hóa quá trình huấn luyện với early stopping
plt.plot(train_errs, "b", label="train_err")
plt.plot(val_errs, "g", label="val_err")
plt.legend()
plt.xlim(0, len(train_errs)-1)
min_y, max_y = plt.ylim()
plt.ylim(min_y, max_y)
plt.xlabel("num epochs")
plt.ylabel("error (%)")
best_iter = np.argmin(val_errs)
plt.plot([best_iter, best_iter], [min_y, max_y], "r")
plt.text(best_iter + 1, max_y - 1, 'STOP', color="r");
# Bạn có thể xem kết quả của mình trong file "early_stopping.png" đính kèm

Hãy nhận xét và giải thích về đồ thị kết quả ở trên.

YOUR ANSWER HERE

---
## Kiểm tra (1đ)

Trong hai mô hình `best_l2_nnet` và `best_es_nnet`, bạn sẽ chọn mô hình có độ lỗi nhỏ nhất trên tập validation là mô hình cuối cùng (của mình là mô hình `best_es_nnet`). Sau đó, bạn sẽ dùng `full_preprocess_pipeline` + mô hình này để dự đoán với các input trong tập test (file "test.csv") và submit kết quả dự đoán lên Kaggle. Để có thể submit thì bạn phải tạo ra file csv có 2 cột: cột thứ nhất là id của các hành khách trong tập test, cột thứ hai là giá trị dự đoán của bạn (1 - sống, và 0 - chết). Bạn có thể xem file mẫu `submission.csv` mà mình đính kèm. Bạn đặt tên file của bạn là `my_preds.csv`.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Kế đến, bạn sẽ submit file csv chứa kết quả dự đoán lên [Kaggle](https://www.kaggle.com/c/titanic) (bạn sẽ cần tạo một account trên Kaggle), và ghi nhận lại độ lỗi trên tập test ở cell phía dưới.

YOUR ANSWER HERE